.header{
  margin-top: 25px;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.qubeLogo{
  height: 120px;
  width: 240px;
  border-radius: 50px;
  position: relative;
  margin-top: 5px;
  margin-left: -25px;
}

.container{
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerHeader{
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 90%;
  font-size: 95px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 85px;
}

.txtHeader{
  color: rgb(66,170,255);
  margin-top: -10px;
  text-align: center;
  background: linear-gradient(45deg, #7ec2fe 33%, #53acfe 66%, #2b98ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.containerMain{
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 30%;
  color: #333;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.containerFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.button{
  width: 200px;
  height: 55px;
  margin-top: 100px;
}

@media (max-width: 1440px) {
  .containerHeader{
    margin-top: 70px;
  }
}

@media (max-width: 550px) {
  .containerHeader{
    max-width: 90%;
    font-size: 50px;
  }
  .containerMain{
    max-width: 90%;
    font-size: 22px;
  }
}